/* Reset some default browser styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

/* Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* Specific page styles */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
/* P start */
p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  
  @media screen and (min-width: 600px){ 
    font-size: 18px;
    line-height: 30px;
  }
}
/* P end */
/* Light/Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

header.dark-mode {
  background-color: #555;
}

nav ul li a.dark-mode {
  color: #fff;
}

nav ul li a.dark-mode:hover {
  background-color: #777;
}

footer.dark-mode {
  background-color: #555;
}
